.sidebar {
  width: 220px;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  color: #495057;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background-color: #e9ecef;
}

.sidebar ul li ul {
  margin-top: 5px;
  margin-left: 15px;
}

.sidebar ul li ul li a {
  padding: 8px;
  border-radius: 4px;
}

.sidebar ul li ul li a:hover {
  background-color: #e9ecef;
}

.sidebar ul li#logout a {
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.sidebar ul li#logout a:hover {
  background-color: #c82333;
}

.container {
  display: flex;
}

.content {
  margin-left: 300px;
  padding: 20px;
  flex-grow: 1;
}
